@{
    ViewData["Title"] = "Home Page";
}

<div class="home-container">
    <!-- Left Side: Image -->
    <div>
        <img src="~/images/A picture of myself.jpg" alt="Nathan Mazonde" class="home-image" />
    </div>

    <!-- Right Side: Intro Text -->
    <div class="home-text">
        <h1>Hello!</h1>
        <p>
            My name is <strong>Nathan Mazonde</strong>. I am a recent graduate with a bachelor's degree
            in Information Technology with specialization in Software Engineering.
        </p>
    </div>
</div>
