body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

/* Home page layout */
.home-container {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    padding: 30px;
    gap: 250px;
}

.home-image {
    max-width: 500px;
    width: 100%;
    height: auto;
    border-radius: 80px;
}

.home-text {
    max-width: 600px;
    font-size: 18px;
}

/* Typing animation */
.typing-container {
    width: 100%;
    max-width: 1000px;
}

.typing-text {
    font-family: monospace;
    font-size: 30px;
    font-weight: 500;
    line-height: 1.5;
    font-weight: bold;
}

.line {
    display: block;
    overflow: hidden;
    white-space: nowrap;
    margin-bottom: 8px;
    position: relative;
}

    .line:last-child::after {
        content: '';
        border-right: 2px solid black;
        position: absolute;
        right: 0;
        height: 100%;
        animation: blink 0.75s step-end infinite;
    }

@keyframes blink {
    from, to {
        border-color: transparent;
    }

    50% {
        border-color: black;
    }
}
